//Variables

//Colors v.1
// $key-color: #9F98EB;
// $special-key-color: #4A439E;
// $active-color: #8EEB81;
// $shadow-color: rgb(75, 93, 106);

//Color v.2
$key-color: #6E86FF;
$special-key-color: #0A2299;
$active-color: #E6C04C;
$key-text-color: #ffffff;
$shadow-color: rgb(75, 93, 106);
$font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


//Main element settings
body {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: $font;
    background-color: #f1efef;
}
.name {
    margin: 10px auto;

    font-size: 32px;
    color: $special-key-color;
}
.textarea {
    width: 55vw;
    height: 40vh;
    margin-bottom: 8px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 54vw;
    padding: 4px;
    border: 2px solid #ababab;
    border-radius: 4px;
}
.row {
    display: flex;
    justify-content: space-between;
}
.key {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    margin: 4px 2px;
    border-radius: 4px;

    color: $key-text-color;
    background-color: $key-color;

    -webkit-box-shadow: 2px 2px 5px 0px $shadow-color;
    -moz-box-shadow: 2px 2px 5px 0px $shadow-color;
    box-shadow: 2px 2px 5px 0px $shadow-color;

    transition: all 0.4s ease-out;

    &:hover {
        background-color: lighten($key-color, 13%);
    }
}
.special-key {
    width: 45px;

    background-color: $special-key-color;

    &:hover {
        background-color: lighten($special-key-color, 30%);
    }
}

//Special key settings
.caps-lock, 
.enter {
    width: 90px;
}
.shift {
    width: 112px;
}
.page-up-down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 40px;
    margin: 4px 2px;
}
.pg-up,
.pg-down {
    height: 19px;
    margin: 0;
}
.space {
    width: 286px;
}
.backspace {
    width: 97px;
}

//Active element settings
.active {
    background-color: $active-color;

    transition: all 0.1s ease-in-out;

    &:hover {
        background-color: $active-color;
    
        transition: all 0.1s ease-in-out;
    }
}